*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
h2{
  font-family: 'Monserrat',Sans-Serif;
  font-weight: lighter;
  text-transform: uppercase;
}
a{
  font-family: 'Monserrat',Sans-Serif;
  font-weight: lighter;
  text-transform: uppercase;
}