{% extends 'public/base.html.twig' %}

{% block body %}
{% block content %}

    <main id="Recipe">

        {% block image %}
            <section id="imgRecipe">
                <div class="imgRecipe">
                    <img src="{{ asset('assets/uploads/'~recipe.image) }}" alt="">
                    <h3>{{ recipe.title }}</h3>
                </div>
            </section>
        {% endblock image %}


        <article>

            <section>

                <div class="ingredient">
                    <h4>Ingrédients</h4>

                    <div>
                        {% for ingredient in ingredients %}
                                <p>ingrédient</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="step">
                    <h4>Préparation</h4>
                    <div>
                        <p>{{ recipe.description }}</p>
                    </div>

                </div>

            </section>
            <p>Publié le : {{ recipe.publishedAt | date('d/m/y') }}</p>
        </article>

    </main>

{% endblock content %}
{% endblock body %}
