header {
  /*background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bc-home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 200;*/
    a{
      color: white;
      text-transform: uppercase;
      font-weight: lighter;
    }

  nav{
    background-color: rgba(0, 0, 0, 0.72);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    width: 100%;
    z-index: 1000;

    ul li:first-child{
      width: 50px;
    }

    ul{
      display: flex;
      gap: 80px;
      //width: 100%;
      width: auto; /* Permet au ul de s'adapter au contenu */
      flex-grow: 1;
    }
    li{
      display: flex;
      align-items: center;
      position: relative;
      &.nav-item{
        width:125px
      }


      &:first-child{
        margin-right: auto;
        margin-left: 10px;
      }
      &:last-child{
        margin-right: auto;
      }
    }
    .ulNone, .ulNoneConnected{
      display: none;
      li{
        margin: 10px;
        font-size: 14px;
      }
    }
    li:hover .ulNone{
      display: block;
      background-color: rgba(0, 0, 0, 0.73);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 150px;
      transform: translateY(100%);
    }

    li:hover .ulNoneConnected{
      display: block;
      background-color: rgba(0, 0, 0, 0.73);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 150px;
      transform: translateY(100%);
    }




  }
}



