{% extends 'admin/base.admin.html.twig' %}
{% block title %}Ajout utilisateur{% endblock %}
{% block content %}

    <main>
        <section class="fomulaireEdit">
            {{ form_start(adminForm) }}

            {{ form_end(adminForm) }}
        </section>
    </main>

{% endblock %}