{% extends 'admin/base.admin.html.twig' %}
{% block title %}Profil{% endblock %}

{% block content %}

    <section>
        {% if app.user %}
        <h1>Hello {{ admin.pseudo }}</h1>
        {% endif %}
    </section>
{% endblock %}