{%  extends 'public/base.html.twig' %}

{% block content %}
    <div class="error">
        <img src="{{ asset('assets/img/feu.jpeg') }}" alt="">
        <p>Erreur 404: Il semble que vous vous êtes perdu</p>
    </div>
{% endblock content %}