{% extends 'admin/base.admin.html.twig' %}
{% block title %}modification mesure{% endblock %}

{% block content %}
    <section class="fomulaireEdit">
        {{ form_start(measureUpdateForm) }}
        {{ form_end(measureUpdateForm) }}
    </section>
{% endblock %}