{% extends 'admin/base.admin.html.twig' %}
{% block title %}Ajout mesure{% endblock %}

{% block content %}
    <main>
        <section class="fomulaireEdit">
            {{ form_start(measureForm) }}
            {{ form_end(measureForm) }}
        </section>
    </main>
{% endblock %}