{% extends 'public/base.html.twig' %}
{% block title %}
    All Cook : modification profil
{% endblock %}

{% block content %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {{ form_start(userForm) }}

        {{ form_end(userForm) }}
    {% endif %}


{% endblock %}