{% extends 'admin/base.admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css">
{% endblock %}
{% dump ingredients %}
{% block content %}

    <h1>Liste des ingrédients disponibles.</h1>

    <button><a href="{{ path('admin_ingredients_add') }}">Ajouter un ingredient</a></button>
    <table id="myTable">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Gérer</td>
            </tr>
        </thead>
        {% for ingredient in ingredients %}
            <tbody>

                   <tr>
                       <td> <p>{{ ingredient.ingredient }}</p></td>
                       <td><p><a href="{{ path('admin_ingredients_delete',{id: ingredient.id}) }}">Supprimer l'ingrédient</a></p>
                           <p><a href="{{ path('admin_ingredients_update',{id: ingredient.id}) }}">Modifier l'ingrédient</a></p>
                       </td>

                   </tr>

            </tbody>
        {% endfor %}
    </table>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.min.js"></script>

{% endblock %}