{% extends 'admin/base.admin.html.twig' %}
{% block title %}modification ingredient{% endblock %}

{% block content %}
    <section class="fomulaireEdit">
        {{ form_start(ingredientsUpdateForm) }}

            {{ form_row(ingredientsUpdateForm.ingredient) }}

        {{ form_end(ingredientsUpdateForm) }}
    </section>
{% endblock %}