{% extends 'admin/base.admin.html.twig' %}
{% dump ingredients %}
{% block content %}

    <h1>Liste des ingrédients disponibles.</h1>
    {% for ingredient in ingredients %}

        <div>
            <p>{{ ingredient.ingredient }}</p>
            <p><a href="{{ path('admin_ingredients_delete',{id: ingredient.id}) }}">Supprimer l'ingrédient</a></p>
            <p><a href="{{ path('admin_ingredients_update',{id: ingredient.id}) }}">Modifier l'ingrédient</a></p>
        </div>

    {% endfor %}

{% endblock %}