/*-------------------Responsive--Mobile--------------------*/
@media screen and (max-width: 480px){
  main #imgDefault .logoBG{
    width: 50%;
    transform: translate(-50%, -50%)
  }
  #home {
    .lastRecipe .lastRecipeImg{
      height: 40vh;
      width: 90%;
      margin: auto;

      .lastRecipeTitle{
        width: 100%;
        text-align: center;
      }

    }

  }
}
/*-------------------Responsive--Tablette--------------------*/

@media screen and (min-width: 780px) and (max-width:1024px){
  #home{
    .lastRecipe .lastRecipeImg{
      height: 50vh;
    }
  }
}