@media screen and (max-width: 480px){
  #Recipe{

    .recette{
      flex-direction: column;
      width: 100%;

      .ingredient{
        width: 100%;
        margin: auto;
      }

      .step{
        width: 100%;
        margin: auto;
      }
    }

    .formReview{
      width: 80%;
    }
    .allReviews{
      width: 90%;

      #review{
        width: 100%;
      }
    }
  }
}
