*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    background-color: #ffffff;
}
header{
    a{
        text-decoration: none;
        color: whitesmoke;
    }
    nav{
        display: flex;
        justify-content: center;
        height: 65px;
        align-items: center;
        background-color: #565353;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        box-shadow:3px 2px 2px #7c7575;

        ul{
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}
/*-----------Button---ADD--------------------*/
.addButton{
    all: unset;
    background-color: #639f63;
    width: 4%;
    height: 7vh;
    text-align: center;
    border-radius: 50px;
    color: white;
    margin: auto;
}
/*--------------------Lists--------------------*/

.tableCenter {
    width: 90%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
 .widthTD{
     width: 22%;
 }

}

.tableCenter tbody tr:nth-of-type(even) {
    background-color: rgba(157, 153, 153, 0.8)!important;
}
/*---------------list---recipe----------*/
.imgList{
    img{
        width: 100%;
    }
    width: 50%;
}

/*---------------alert-delete--JS----------*/
.jsDelete{
    display: none;
    position: absolute;
    background-color: white;
    border: rgba(0, 0, 0, 0.8) solid 2px;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px
}
.jsDeleteButton{
    color: rgba(0, 0, 0, 0.8);
    &&:hover{
        text-decoration: underline;
    }
}
/*----------------Fomulaire Update-------------*/
.fomulaireEdit{
    width: 80%;
    margin: 30px auto 30px;
    border-radius: 10px;
    background-color: #9f9a9a;
    padding: 15px;
}
/*------------MESSAGE---FLASH------------------*/
.success_message{
    background-color: rgb(58, 82, 49);
    width: 100%;
    position: absolute;
    top: 68px;
    text-align: center;
    padding: 10px;
    font-family: "montserrat", Sans-Serif;
    font-size: 18px;

}
.error_message{
    background-color: rgba(255, 255, 255, 0.61);
    width: 100%;
    position: absolute;
    top: 68px;
    text-align: center;
    padding: 10px;
    font-family: "montserrat", Sans-Serif;
    font-size: 18px;
    color: red;
    font-weight: bolder;
}