{% extends 'public/base.html.twig' %}


{% block content %}

    <main>
        {% block image %}
            <section id="imgDefault">
                <div class="imgDefault">
                    <img src="{{ asset('assets/img/bc-home.jpg') }}" alt="">
                </div>
            </section>
        {% endblock image %}

        <h1>HOME</h1>
    </main>

{% endblock content %}
